<template>

 <div class="flex flex-col w-full lg:flex-row lg:px-52 px-16 py-16 lg:py-7 lg:my-3.5">      
    <div class="grid flex-grow h-auto place-items-center"> 
            <div class="card flex-shrink-0 w-full max-w-md shadow-2xl bg-base-100">
                <div class="card-body"> 

                    <form v-on:submit.prevent="createProduct"> 
                        <div class="flex flex-col w-full ">

                            <div class="grid flex-grow">
                            <div class="form-control lg:mr-1">
                                <label class="label">
                                    <span class="label-text">Nombre de producto</span>
                                </label>
                                <input type="text" v-model="nombre" class="input input-bordered">
                            </div>
                        </div>

                        <div class="grid flex-grow">
                            <div class="form-control">
                                <label class="label">
                                    <span class="label-text">precio</span>
                                </label>
                                <input type="text" v-model="precio" class="input input-bordered">
                            </div>
                        </div>
                    </div>
                    <div class="form-control">
                        <label class="label">
                            <span class="label-text">Peso</span>
                        </label>
                        <input type="text" v-model="peso" class="input input-bordered">
                    </div>
                    <div class="form-control">
                        <label class="label">
                            <span class="label-text">Fecha</span>
                        </label>
                        <input type="text" v-model="fecha" class="input input-bordered">
                    </div>
                    <div class="flex flex-col w-full lg:flex-row">
                        <div class="grid flex-grow">
                            <div class="form-control lg:mr-1">
                                <label class="label">
                                    <span class="label-text">Descripcion</span>
                                </label>
                                <input type="text" v-model="descripcion" class="input input-bordered">
                            </div>
                        </div>
                    </div>
                        <div class="grid flex-grow">
                            <div class="form-control">
                                <label class="label">
                                    <span class="label-text">Tipo</span>
                                </label>
                                <input type="text" v-model="tipo" class="input input-bordered" >
                            </div>
                        </div>


                    <div class="grid flex-grow">
                            <div class="form-control">
                                <label class="label">
                                    <span class="label-text">En Stock?</span>
                                </label>
                                <input type="text" v-model="stock" class="input input-bordered" >
                            </div>
                    </div>

                    <div class="grid flex-grow">
                            <div class="form-control">
                                <label class="label">
                                    <span class="label-text">Cantidad</span>
                                </label>
                                <input type="number" v-model="cantidad" class="input input-bordered" >
                            </div>
                    </div>                         


                    <div class="form-control mt-6">
                        <input type="submit" value="Subir Producto" class="btn btn-primary">
                    </div>

                </form>
            </div>
        </div>
    </div>
 </div>
</template>


<script>
import jwt_decode from "jwt-decode";
import axios from 'axios';

export default {
    name: "CreateProducts",

    data: function(){
        return {
            producto:{
            nombre:"",
            peso:"",
            precio:"",
            fecha:"",
            tipo:"",
            stock:"",
            cantidad:"",
            descripcion:"",

        }}

    },

    methods: {
        getData: async function () {

            if (localStorage.getItem("token_access") === null || localStorage.getItem("token_refresh") === null) {
                this.$emit('logOut');
                return;
			}

            await this.verifyToken();

            let token = localStorage.getItem("token_access");
            let userId = jwt_decode(token).user_id.toString();

            axios.get(`https://product-pet-store.herokuapp.com/user/${userId}/`, {headers: {'Authorization': `Bearer ${token}`}})
                .then((result) => {
                    this.user_id=result.data.userId;
                    this.loaded = true;
                    this.token = token
                    })
                .catch(() => {
                    this.$emit('logOut');
                });
        },

        verifyToken: function () {
            return axios.post("https://product-pet-store.herokuapp.com/refresh/", {refresh: localStorage.getItem("token_refresh")}, {headers: {}})
				.then((result) => {
					localStorage.setItem("token_access", result.data.access);
				})
				.catch(() => {
					this.$emit('logOut');
				});
        },

        createProduct: function(){
            axios.post(
                "https://product-pet-store.herokuapp.com/producto/add/",this.producto,
                {headers: {'Authorization': `Bearer ${this.token}`}}
            )
                .then((result) => {
                    alert("Producto añadido")


                })
                .catch((error) => {
                    console.log(error.response)
                    alert("Error en el la creación del producto.");


				});
        }

    },

    created: async function(){
        this.getData();
    },
}
</script>