<template>
    <div class="flex flex-col w-full lg:flex-row lg:px-52 px-12 pt-20 pb-9 justify-center">
        <div class="shadow-lg rounded-2xl w-full h-52 p-4 bg-gradient-to-r from-gray-100 to-gray-200 relative overflow-hidden">
            <img alt="moto" src="../assets/banner.png" class="absolute -right-4 -bottom-10 h-60 w-120 mb-4"/>
            <div class="justify-start card-actions pt-20 lg:pt-4 pl-2 lg:pl-10">
                <h1 class="w-full text-xl lg:text-5xl font-bold leading-3 lg:leading-none">Bienvenido!</h1>
                <p class="text-xl lg:text-3xl font-semibold leading-3 lg:leading-3">{{username}}</p>
            </div>
        </div>
    </div>

    <div class="lg:px-52 px-12 py-4 justify-center divider text-gray-400"><h1 class=" text-2xl font-bold">CATEGORIAS DISPONIBLES</h1></div> 

    <SectionCategory/>

</template>


<script>
    import SectionCategory from './SectionCategory.vue'
    export default {
        name: "Home",
        components: {
            SectionCategory,
        },
        data: function(){
            return {
                username: localStorage.getItem('username') || "none"
            }
        }
    }
</script>