<template>
    <div class="flex flex-col w-full lg:flex-row lg:px-52 px-16 py-16 lg:py-28 lg:my-2.5">
        <div class="grid flex-grow h-full place-items-center">
            <img src="../assets/login-animate.svg" class="w-64 lg:w-96 h-auto"> 
        </div> 
        <div class="grid flex-grow h-auto place-items-center">
            <div class="card flex-shrink-0 w-full max-w-md shadow-2xl bg-base-100">
                <div class="card-body">
                    <form v-on:submit.prevent="processLogInUser">
                        <div class="form-control">
                            <label class="label">
                                <span class="label-text">Usuario</span>
                            </label> 
                            <input type="text" v-model="user.username" class="input input-bordered">
                        </div> 
                        <div class="form-control">
                            <label class="label">
                                <span class="label-text">Contraseña</span>
                            </label> 
                            <input type="password" v-model="user.password" class="input input-bordered"> 
                        </div> 
                        <div class="form-control mt-6">
                            <input type="submit" value="INGRESAR" class="btn btn-primary">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>




<script>
import axios from 'axios';

export default {
    name: "LogIn",

    data: function(){
        return {
            user: {
                username:"",
                password:""
            }
        }
    },

    methods: {
        processLogInUser: function(){
            axios.post(
                "https://product-pet-store.herokuapp.com/login/", 
                this.user,  
                {headers: {}}
                )
                .then((result) => {
                    let dataLogIn = {
                        username: this.user.username,
                        token_access: result.data.access,
                        token_refresh: result.data.refresh,
                    }
                    
                    this.$emit('completedLogIn', dataLogIn)
                })
                .catch((error) => {
                    
                    if (error.response.status == "401")
                        this.$swal({
                            toast: !0,
                            position: "top-end",
                            showConfirmButton: !1,
                            timer: 3e3,
                            icon: "error",
                            title: "ERROR 401",
                            text: "Credenciales Incorrectas."
                        });
                    
                });
        }
    }
}
</script>
<style>
</style>