<template>
    <div class="w-full lg:px-52 mx-auto px-16 pt-12">
        <h1 class="ml-3 text-4xl font-bold">Productos</h1>
    </div>
    <div class="flex flex-wrap w-full mx-auto lg:px-52 px-8 py-12 lg:py-16 lg:mt-2">
        <div v-for="(product, index) in products" :key="index">
            <div class="w-full md:w-86 px-3 mb-6">
                <div class="p-2 bg-white shadow rounded">
                    <div class="flex">
                        <div class="flex-none w-20 relative">
                            <img src="../assets/pic-product.png" alt="" class="absolute inset-0 w-full h-full object-cover rounded-lg" />
                        </div>
                        <form class="flex-auto pl-5">
                                <h1 class="w-52 flex-none text-sm font-semibold mb-2.5">
                                    {{product.prod_name}}
                                </h1>
                                
                                <div class="text-3xl font-bold text-secondary">
                                    ${{product.prod_price}}<span class="text-sm"> COP</span>
                                </div>
                                <div class="text-sm font-medium text-gray-400 ml-3">
                                    {{product.prod_type}}
                                </div>
                            <div class="flex mb-4 text-sm font-semibold pt-4">
                                <div class="flex-auto flex">
                                    <button class="w-1/2 flex items-center justify-center rounded-md btn-secondary text-white px-2" type="submit">Comprar Ahora</button>
                                    <button class="w-1/2 flex items-center justify-center rounded-md h-10 bg-blue-50 text-secondary px-2" type="button">Añadir al Carrito</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import axios from 'axios';

    export default {
        name: "Products",
        data(){
            return {
                products: null
            }
        },
        mounted(){
            this.getProducts();
        },
        methods: {
            getProducts(){
                axios.get('https://product-pet-store.herokuapp.com/productos/')
                .then(res => {
                    (this.products = res.data)
                })
                .catch(err => {
                    console.log(err)
                })
            }
        }
    }
</script>