<template>
    <div class="flex flex-col w-full lg:flex-row lg:px-52 px-16 py-12 lg:py-7 lg:my-2">
      <div class="grid flex-grow h-full place-items-center">
        <img src="../assets/Profile-Interface-cuate.svg" class="w-64 lg:w-96 hidden lg:block h-auto"> 
        <h1 class="text-2xl mb-4 lg:mb-0 lg:text-4xl font-normal">INFORMACIÓN DE PERFIL</h1>
      </div> 
      <div class="grid flex-grow h-auto place-items-center">
        <div class="card flex-shrink-0 w-full max-w-md shadow-2xl bg-base-100">
            <div class="card-body" v-if="loaded">
                <div class="form-control">
                    <label class="label">
                        <span class="label-text">Nombre</span>
                    </label> 
                    <span class="input input-bordered bg-gray-200 py-2">{{name}}</span>
                </div> 
                <div class="form-control">
                    <label class="label">
                        <span class="label-text">Correo Electronico</span>
                    </label> 
                    <span class="input input-bordered bg-gray-200 py-2">{{email}}</span>
                </div> 
                <div class="form-control">
                    <label class="label">
                        <span class="label-text">Fecha de Cumpleaños</span>
                    </label> 
                    <span class="input input-bordered bg-gray-200 py-2">{{birthdate}}</span> 
                </div> 
                <div class="form-control">
                    <label class="label">
                        <span class="label-text">Teléfono de Contacto</span>
                    </label> 
                    <span class="input input-bordered bg-gray-200 py-2">{{cellphone}}</span> 
                </div> 
                <div class="form-control">
                    <label class="label">
                        <span class="label-text">Tipo de Usuario</span>
                    </label> 
                    <span class="input input-bordered bg-gray-200 py-2">{{rol}}</span>
                </div> 
                <div class="flex mb-4 text-sm font-semibold pt-4">
                    <div class="flex-auto flex">
                        <button class="w-1/2 flex items-center justify-center rounded-md btn-secondary text-white px-2 mr-1" v-on:click="loadUpdateProfile">Actualizar información</button>
                        <button class="w-1/2 flex items-center justify-center rounded-md h-10 bg-red-50 text-red-500 hover:bg-red-100 px-2" v-on:click="deleteProfile">Borrar Cuenta</button>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
</template>


<script>
import jwt_decode from "jwt-decode";
import axios from 'axios';

export default {
    name: "Profile",

    data: function(){
        return {
            username:"",
            name: "",
            email: "",
            birthdate:"",
            rol:"",
            cellphone:"",
            loaded: false,
            userId:"",
            token:"",
        }
    },

    methods: {
        getData: async function () {

            if (localStorage.getItem("token_access") === null || localStorage.getItem("token_refresh") === null) {
                this.$emit('logOut');
                return;
			}

            await this.verifyToken();
            
            let token = localStorage.getItem("token_access");
            let userId = jwt_decode(token).user_id.toString();
            
            axios.get(`https://product-pet-store.herokuapp.com/user/${userId}/`, {headers: {'Authorization': `Bearer ${token}`}})
                .then((result) => {
                    this.userId = result.data.id
                    this.username = result.data.username
                    this.name = result.data.name;
                    this.email = result.data.email;	
                    this.rol = result.data.rol;
                    this.birthdate = result.data.birthdate;
                    this.cellphone = result.data.cellphone;
                    this.loaded = true;
                    this.token = token;
                    })
                .catch(() => {
                    this.$emit('logOut');
                });
        },

        verifyToken: function () {
            return axios.post("https://product-pet-store.herokuapp.com/refresh/", {refresh: localStorage.getItem("token_refresh")}, {headers: {}})
				.then((result) => {
					localStorage.setItem("token_access", result.data.access);		
				})
				.catch(() => {
                    alert("pre")
					this.$emit('logOut');
				});
        },

        loadUpdateProfile: function () {
            this.$router.push({name: "updateProfile"})
        },
        deleteProfile: function (token) {
            axios.delete("https://product-pet-store.herokuapp.com/delete/"+this.userId+"/",
            {headers: {'Authorization': `Bearer ${token}`}})
            
            .then(() => {
                alert("Eliminación exitosa")
					this.$router.push({name: "logOut"})		
				})
				.catch((error) => {
                    console.log(error.response)
                    alert("No se pudo eliminar cuenta")
                    alert(this.userId)
                    alert(this.token)
					
				});
        }

    },

    created: async function(){
        this.getData();
    },
}
</script>
