<template>
    <div class="flex flex-wrap w-full mx-auto lg:px-52 px-16 py-12 lg:py-16 lg:mt-2 justify-center">
        <div v-for="(category, index) in categories" :key="index">
            <div class="w-full md:w-86 px-3 mb-6">
                <button class="p-2 shadow-inner btn btn-ghost bg-blue-50 text-secondary w-full rounded h-20">
                    <div class="flex">
                        <form class="flex-auto">
                            <h1 class="w-52 flex justify-center text-sm font-semibold py-4 ">
                                {{category.name}}
                            </h1>
                        </form>
                    </div>
                </button>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';

    export default {
        name: "SectionCategory",
        data(){
            return {
                categories: null
            }
        },
        mounted(){
            this.getCategories();
        },
        methods: {
            getCategories(){
                axios.get('https://product-pet-store.herokuapp.com/categories/')
                .then(res => {
                    (this.categories = res.data)
                })
                .catch(err => {
                    console.log(err)
                })
            }
        }
    }
</script>
