<template>
    <div class="flex flex-col w-full lg:flex-row lg:px-52 px-16 py-16 lg:py-7 lg:my-3.5">
        <div class="grid flex-grow h-full place-items-center lg:pt-20">
            <img src="../assets/subscriber-animate.svg" class="w-64 lg:w-96 h-auto"> 
        </div> 
        <div class="grid flex-grow h-auto place-items-center">
            <div class="card flex-shrink-0 w-full max-w-md shadow-2xl bg-base-100">
                <div class="card-body">
                    <form v-on:submit.prevent="processSignUp">
                        <div class="flex flex-col w-full lg:flex-row">
                            <div class="grid flex-grow">
                                <div class="form-control lg:mr-1">
                                    <label class="label">
                                        <span class="label-text">Usuario</span>
                                    </label> 
                                    <input type="text" v-model="user.username" class="input input-bordered">
                                </div>
                            </div> 
                            <div class="grid flex-grow">
                                <div class="form-control">
                                    <label class="label">
                                        <span class="label-text">Contraseña</span>
                                    </label> 
                                    <input type="password" v-model="user.password" class="input input-bordered"> 
                                </div>  
                            </div>
                        </div>
                        <div class="form-control">
                            <label class="label">
                                <span class="label-text">Nombre</span>
                            </label> 
                            <input type="text" v-model="user.name" class="input input-bordered"> 
                        </div> 
                        <div class="form-control">
                            <label class="label">
                                <span class="label-text">Correo Electronico</span>
                            </label> 
                            <input type="email" v-model="user.email" class="input input-bordered"> 
                        </div> 
                        <div class="flex flex-col w-full lg:flex-row">
                            <div class="grid flex-grow">
                                <div class="form-control lg:mr-1">
                                    <label class="label">
                                        <span class="label-text">Teléfono</span>
                                    </label> 
                                    <input type="phone" v-model="user.cellphone" class="input input-bordered" maxlength="9"> 
                                </div> 
                            </div> 
                            <div class="grid flex-grow">
                                <div class="form-control">
                                    <label class="label">
                                        <span class="label-text">Fecha de Nacimiento</span>
                                    </label> 
                                    <input type="birthdate" v-model="user.birthdate" class="input input-bordered" placeholder="yyyy-mm-dd"> 
                                </div> 
                            </div>
                        </div>
                        <div class="form-control">
                            <label class="label">
                                <span class="label-text">Seleccione su rol:</span>
                            </label>
                            <div class="flex flex-col w-full lg:flex-row">
                                <div class="grid flex-grow">
                                    <div class="form-control">
                                        <label class="cursor-pointer label flex justify-start">
                                            <input type="radio" class="radio radio-primary radio-sm mr-2" id="V" value="V" v-model="user.rol">
                                            <span class="label-text" for="V">Vendedor</span> 
                                        </label>
                                    </div>
                                </div>
                                <div class="grid flex-grow">
                                    <div class="form-control">
                                    <label class="cursor-pointer label flex justify-start">
                                        <input type="radio" class="radio radio-primary radio-sm mr-2" id="C" value="C" v-model="user.rol">
                                        <span class="label-text" for="C">Comprador</span> 
                                    </label>
                                </div>
                                </div>
                            </div>    
                        </div> 
                        <div class="form-control mt-6">
                            <input type="submit" value="REGISTRARSE" class="btn btn-primary">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>




<script>
import axios from 'axios';

export default {
    name: "SignUp",

    data: function(){
        return {
            user: {
                username: "",
                password: "",
                name: "",
                email: "",
                birthdate:"",
                cellphone:"",
                rol:"",
                
            }
        }
    },

    methods: {
        processSignUp: function(){
            axios.post(
                "https://product-pet-store.herokuapp.com/new_user/", 
                this.user,  
                {headers: {}}
            )
                .then((result) => {
                    let dataSignUp = {
                        username: this.user.username,
                        token_access: result.data.access,
                        token_refresh: result.data.refresh,
                    }
                    
                    this.$emit('completedSignUp', dataSignUp)
                })
                .catch((error) => {
                    console.log(error)
                    this.$swal({
                        toast: !0,
                        position: "top-end",
                        showConfirmButton: !1,
                        timer: 3e3,
                        icon: "error",
                        text: "Error en el registro."
                    });
                });
        }
    }
}
</script>
