<template>
 <div class="flex flex-col w-full lg:flex-row lg:px-52 px-16 py-16 lg:py-7 lg:my-3.5">
        
        <div class="grid flex-grow h-auto place-items-center">
            <div class="card flex-shrink-0 w-full max-w-md shadow-2xl bg-base-100">
                <div class="card-body">
                    <form v-on:submit.prevent="processUpdate">
                        <div class="flex flex-col w-full ">
                            <div class="grid flex-grow">
                                <div class="form-control lg:mr-1">
                                    <label class="label">
                                        <span class="label-text">Usuario</span>
                                    </label> 
                                    <input type="text" v-model="this.user.username" class="input input-bordered">
                                </div>
                            </div> 
                            <div class="grid flex-grow">
                                <div class="form-control">
                                    <label class="label">
                                        <span class="label-text">Contraseña</span>
                                    </label> 
                                    <input type="password" v-model="this.user.password" class="input input-bordered"> 
                                </div>  
                            </div>
                        </div>
                        <div class="form-control">
                            <label class="label">
                                <span class="label-text">Nombre</span>
                            </label> 
                            <input type="text" v-model="user.name" class="input input-bordered"> 
                        </div> 
                        <div class="form-control">
                            <label class="label">
                                <span class="label-text">Correo Electronico</span>
                            </label> 
                            <input type="email" v-model="this.user.email" class="input input-bordered"> 
                        </div> 
                        <div class="flex flex-col w-full lg:flex-row">
                            <div class="grid flex-grow">
                                <div class="form-control lg:mr-1">
                                    <label class="label">
                                        <span class="label-text">Teléfono</span>
                                    </label> 
                                    <input type="phone" v-model="this.user.cellphone" class="input input-bordered" maxlength="9"> 
                                </div> 
                            </div> 
                            <div class="grid flex-grow">
                                <div class="form-control">
                                    <label class="label">
                                        <span class="label-text">Fecha de Nacimiento</span>
                                    </label> 
                                    <input type="birthdate" v-model="this.user.birthdate" class="input input-bordered" placeholder="yyyy-mm-dd"> 
                                </div> 
                            </div>
                        </div>
                        <div class="form-control">
                            <label class="label">
                                <span class="label-text">Seleccione su rol:</span>
                            </label>
                            <div class="flex flex-col w-full lg:flex-row">
                                <div class="grid flex-grow">
                                    <div class="form-control">
                                        <label class="cursor-pointer label flex justify-start">
                                            <input type="radio" class="radio radio-primary radio-sm mr-2" id="V" value="V" v-model="this.user.rol">
                                            <span class="label-text" for="V">Vendedor</span> 
                                        </label>
                                    </div>
                                </div>
                                <div class="grid flex-grow">
                                    <div class="form-control">
                                    <label class="cursor-pointer label flex justify-start">
                                        <input type="radio" class="radio radio-primary radio-sm mr-2" id="C" value="C" v-model="this.user.rol">
                                        <span class="label-text" for="C">Comprador</span> 
                                    </label>
                                </div>
                                </div>
                            </div>    
                        </div> 
                        <div class="form-control mt-6">
                            <input type="submit" value="Actualizar" class="btn btn-primary">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</template>


<script>
import jwt_decode from "jwt-decode";
import axios from 'axios';

export default {
    name: "UpdateProfile",

    data: function(){
        return {
            userId:"",
            loaded: false,
            token:"",
            user:{
                username:"",
                name: "",
                email: "",
                password:"",
                birthdate:"",
                rol:"",
                cellphone:"",
            }
        }
        
    },

    methods: {
        getData: async function () {

            if (localStorage.getItem("token_access") === null || localStorage.getItem("token_refresh") === null) {
                this.$emit('logOut');
                return;
			}

            await this.verifyToken();
            
            let token = localStorage.getItem("token_access");
            let userId = jwt_decode(token).user_id.toString();
            
            axios.get(`https://product-pet-store.herokuapp.com/user/${userId}/`, {headers: {'Authorization': `Bearer ${token}`}})
                .then((result) => {
                    this.userId = result.data.id
                    this.username = result.data.username
                    this.name = result.data.name;
                    this.email = result.data.email;	
                    this.rol = result.data.rol;
                    this.birthdate = result.data.birthdate;
                    this.cellphone = result.data.cellphone; 
                    this.loaded = true;
                    this.token = token
                    })
                .catch(() => {
                    this.$emit('logOut');
                });
        },

        verifyToken: function () {
            return axios.post("https://product-pet-store.herokuapp.com/refresh/", {refresh: localStorage.getItem("token_refresh")}, {headers: {}})
				.then((result) => {
					localStorage.setItem("token_access", result.data.access);		
				})
				.catch(() => {
					this.$emit('logOut');
				});
        },

        processUpdate: function(){
            axios.put(
                "https://product-pet-store.herokuapp.com/edit/"+this.userId+"/",this.user,
                {headers: {'Authorization': `Bearer ${this.token}`}}
            )
                .then((result) => {
                    let dataSignUp = {
                        username: this.user.username,
                        token_access: result.data.access,
                        token_refresh: result.data.refresh,
                    }
                    this.$emit('completedUpdate', dataSignUp)
                   
                    
                
                })
                .catch((error) => {
                    console.log(error.response)
                    alert("Error en el la actualización de datos.");
                
                   
				});
        }

    },

    created: async function(){
        this.getData();
    },
}
</script>


<style>
    .information{
        margin: 0;
        padding: 0%;
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;    
        align-items: center;
    }

    .information h1{
        font-size: 60px;
        color: #0f1316;
    }

    .information h2{
        font-size: 40px;
        color: #283747;
    }

    .information span{
        color: crimson;
        font-weight: bold;
    }
</style>