<template>
  <div id="app" class="app">
    <nav class="lg:px-32 navbar mb-2 shadow-md bg-gray-200">
         <div class="flex-none px-2 mx-2">
            <router-link to="/">
              <img class="h-10 w-auto" src="./assets/logo-pps-light.svg" alt="">
            </router-link>
        </div> 
        <div class="flex-1 px-2 mx-2">
            <div class="items-stretch hidden lg:flex">
              
              <button class="btn btn-link btn-sm rounded-btn text-black normal-case text-base font-normal" v-if="is_auth" v-on:click="loadHome">
                <i class="fad fa-home mr-1"></i> Inicio
              </button> 
              <button class=" hidden btn btn-link btn-sm rounded-btn text-black normal-case text-base font-normal" v-if="is_auth">
                <i class="fad fa-box-open mr-1"></i> Categorias
              </button>
              <div class="dropdown dropdown-hover" v-if="is_auth">
                <button tabindex="0" class="btn btn-ghost btn-sm rounded-btn text-black normal-case text-base font-normal">
                  <i class="fad fa-box-open mr-1"></i> Productos <i class="fas fa-sort-down ml-1"></i>
                </button> 
                <ul tabindex="0" class="p-2 shadow menu dropdown-content bg-base-100 rounded-box w-52">
                  <li>
                    <button class="flex justify-start btn btn-ghost font-normal normal-case" v-on:click="loadProducts">
                      Productos Disponibles
                    </button> 
                  </li> 
                  <li>
                    <button class="flex justify-start btn btn-ghost font-normal normal-case" v-on:click="loadCreateProducts">
                      Agregar Producto
                    </button> 
                  </li> 
                </ul>
              </div>
              <button class=" hidden btn btn-link btn-sm rounded-btn text-black normal-case" v-if="is_auth" v-on:click="logOut">
                <i class="fab fa-product-hunt mr-1"></i> Cerrar Sesión
              </button>
            </div>
        </div> 
        <div class="flex-none mr-2" v-if="is_auth">
            <button class="btn btn-link btn-sm text-gray-500 text-base font-normal" v-on:click="loadProfile">
              <div class="avatar mr-2">
                <div class="rounded-md w-6 h-6 ring ring-warning ring-offset-base-100 ring-offset-2">
                  <img src="./assets/blank-profile.svg">
                </div>
              </div> 
              Hi!,👋🏻 {{username}} 
            </button>
        </div> 
        <div class="flex-none mr-2" v-if="is_auth">
            <button class="btn btn-link btn-sm text-black" v-on:click="logOut" > CERRAR SESIÓN </button>
        </div> 
        <div class="flex-none mr-2">
            <button class="btn btn-link btn-sm text-black" v-if="!is_auth" v-on:click="loadSignUp" > REGISTRARSE </button>
        </div> 
        <div class="flex-none pr-2 mx-2">
            <button class="btn btn-secondary btn-sm" v-if="!is_auth" v-on:click="loadLogIn" > INGRESAR </button>
        </div> 
    </nav>

    

    <main class="h-full">
      <router-view  
        v-on:completedLogIn="completedLogIn"
        v-on:completedSignUp="completedSignUp"
        v-on:logOut="logOut"
        v-on:completedUpdate="completedUpdate"
        
      >
      </router-view>
    </main>
    
    <footer class="p-4 footer bg-base-300 text-base-content footer-center">
        <div>
            <p>Copyright © 2021 - All right reserved by Course P33-Grupo 3</p>
        </div>
    </footer>
  </div>
</template>




<script>
export default {
  name: 'App',

  data: function(){
      return{
        is_auth: false,
        username: localStorage.getItem('username') || "none",
      }
  },

  components: {
  },

  methods:{
    verifyAuth: function() {
      this.is_auth = localStorage.getItem("isAuth") || false;
		
			if (this.is_auth == false)
        this.$router.push({ name: "logIn" });
      else
        this.$router.push({ name: "home" });
    },
    loadHome: function() {
      this.$router.push({ name: "home" });
    },
    loadProfile: function() {
      this.$router.push({ name: "profile" });
    },
    loadProducts: function() {
      this.$router.push({ name: "products" });
    },
    
    loadCreateProducts: function() {
      this.$router.push({ name: "createProducts" });
    },

    loadLogIn: function(){
      this.$router.push({name: "logIn"})
    },

    loadSignUp: function(){
      this.$router.push({name: "signUp"})
    },

    completedLogIn: function(data) {
      localStorage.setItem("isAuth", true);
      localStorage.setItem("username", data.username);
      localStorage.setItem("token_access", data.token_access);
      localStorage.setItem("token_refresh", data.token_refresh);
      this.$swal({
          toast: !0,
          position: "top-end",
          showConfirmButton: !1,
          timer: 3e3,
          icon: "success",
          text: "Autenticación Exitosa"
      });
      this.verifyAuth();
    },

    completedSignUp: function(data) {
      this.$swal({
          toast: !0,
          position: "top-end",
          showConfirmButton: !1,
          timer: 3e3,
          icon: "success",
          text: "Registro Exitoso"
      });
      this.completedLogIn(data);
    },

    prueba: function () {
			alert("prueba");
		},

    logOut: function () {
			localStorage.clear();
      this.$swal({
          toast: !0,
          position: "top-end",
          showConfirmButton: !1,
          timer: 3e3,
          icon: "success",
          text: "Sesión Cerrada con Exito"
      });
			this.verifyAuth();
		},

    completedUpdate: function(data) {
      this.completedLogIn(data);
      alert("Actualización Exitosa");
      
    },

  },

  created: function(){
    this.verifyAuth()
  }

}
</script>

<style>
</style>
